<!DOCTYPE html>
<html>
<head>
  <meta name="viewpoint" content="with=device-width, initial-scale=1.0">
  <title>Dasboard!</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <section class="header">
      <a href="dashboard.html">
      <div class="navbar">
          <a href="/dashboard">SEARCH</a>
          <a href="/ncert">HISTORY</a>
          <a href="/profile">PROFILE</a>
      </div>
  </section>

















</body>
</html>